<section id="content">
<div class="zerogrid"> 
  <a ng-click="vm.salir()" style="float:right;padding: 10px;">Salir</a>
<div class="content-bg">  
<h1>Seccion Administrador</h1> 
<button value="" id="usuario" class="btn btn-primary" ng-click="vm.nuevoUsuario();">
  <i class="icon-plus"></i> Crear Usuario</button>
<br>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
<div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-5">
        <label for="search">Search:</label>
        <input ng-model="vm.q" id="search" class="form-control" placeholder="Filter text">
      </div>
      <div class="col-xs-5">
        <label for="search">users per page:</label>
        <input type="number" min="1" max="20" class="form-control" ng-model="vm.pageSize">
      </div>
      <div class="col-xs-1">
      </div>
    </div>
<br>
<div class="widget-content-white glossed jumbotron" ng-init="vm.cargarUsuarios()">
    <table style="color:black;padding:10px;" class="table table-condensed">
            <thead>
               <tr>
                  <th> Cliente </th>
                  <th> Tipo </th>
                  <th> </th>
                  <th> </th>
               </tr>
            </thead>
            <tbody>
               <tr dir-paginate="item in vm.users | filter:vm.q | itemsPerPage: vm.pageSize">
                   <td> {{item.name}} </td>
                   <td> Cliente </td>
                   <td> <a class="btn btn-info btn-xs" ng-click="vm.recuperarUsuario(item.id)"> Editar </a> </td>
                   <td> <a class="btn btn-danger btn-xs" ng-click="vm.eliminarUsuario(item.id)"> Eliminar </a> </td>
                 </tr>
              </tbody>
           </table>
      <div class="other-controller">
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html">
        </dir-pagination-controls>
          </div>
        </div>
</div>
  <input style="display:initial;" type="file" name="file" file-model="vm.file" />
    <!--<input type="file" file-model="myFile"/>-->
   <button class="btn btn-primary btn-sm" ng-click="vm.uploadFile()">Subir</button>
</div>
<div class="col-md-2"></div>
</div>
</div>
</div>
</section>