<div class="row">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <div ng-style="vm.cargando === 0? {'display':''} : {'display':'none'}">
    <input style="display:initial;" type="file" name="file" file-model="vm.file" />
    <button class="btn btn-primary btn-sm" ng-click="vm.uploadFile()">Subir</button>
    </div>
    <div ng-style="vm.cargando === 1 ? {'display':''} : {'display':'none'}">
      <img style="width:70px;" src="public/images/cargando.gif" alt="">
      Espere un momento mientras se carga el listado
    </div>
    <br>
    <label for="search">Busqueda:</label>
    <input ng-model="vm.q" id="search" class="form-control" placeholder="Busqueda por codigo o descripcion">
  </div>
  <div class="col-xs-1">
  </div>
</div>
    <br>
<div class="widget-content-white glossed">
    <table class="table table-bordered">
            <thead>
               <tr>
                  <th> Codigo </th>
                  <th> Descripcion </th>
                  <th> Precio </th>
                  <th> </th>
                  <th> </th>
               </tr>
            </thead>
            <tbody>
               <tr dir-paginate="item in vm.productos | filter:vm.q | itemsPerPage: vm.pageSize">
                   <td> {{item.codigo}} </td>
                   <td> {{item.descripcion}} </td>
                   <td> {{item.precio}}</td>
                   <td>                    
                    <a ng-click="vm.cargarVistaImagen(item.codigo)">
                      <img src="public/images/iconos/upload.png" alt="">
                    </a>
                  </td>
                  <td>
                    <a ng-style="item.imagen != null? {'display':''} : {'display':'none'}" ng-click="vm.abrirImagen(item.codigo,item.descripcion,item.imagen)"><img src="public/images/iconos/camera.png" alt=""></a>
                  </td>
                 </tr>
              </tbody>
           </table>
      <div class="other-controller">
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html">
        </dir-pagination-controls>
          </div>
        </div>
</div>
