<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>    
    <title>ABM</title>
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />
</head>
<body ng-controller='mainController'>
    <div ng-view>
    </div>
    <script src="../public/js/angular.min.js"></script>
    <script src="../public/js/jquery-1.11.0.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>    
    <script src="../public/js/angular-route.js"></script>
    <script src="../public/js/dirPagination.js"></script>
    
    <script src="../public/js/controllers/main.js"></script>
    <script src="../public/js/controllers/login.js"></script>
    <script src="../public/js/controllers/cliente.js"></script>
    <script src="../public/js/controllers/admin.js"></script>
</body>
</html>