<section id="content">
<div class="zerogrid"> 
  <a ng-click="vm.salir()" style="float:right;padding: 10px;">Salir</a>
	<div class="content-bg">	
<h1>Seccion Clientes</h1> 
<div class="row">
<div class="col-md-1">
</div>
<div style="color:black;" class="col-md-10 jumbotron">
	<div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-1">
          </div>
        <div class="col-xs-4">
          <input type="radio" name="radioBusqueda" id="busqCodigo">
          &nbsp;&nbsp;<label for="search">Buscar por código</label>
          </div>
          <div class="col-xs-1">
          </div>
          <div class="col-xs-4">
            <input type="radio" name="radioBusqueda" id="busqNombre">
      &nbsp;&nbsp;<label for="search">Buscar por descripción</label>
          </div>
          <div class="col-xs-1">
          </div>
      </div>   
      <input ng-model="vm.q" id="search" class="form-control" placeholder="Filter text">
    </div>
    <div class="col-xs-1">
    </div>
  </div>
<br>
<div class="widget-content-white glossed" ng-init="vm.cargarProductos()">
    <table class="table table-bordered">
            <thead>
               <tr>
                  <th> Codigo </th>
                  <th> Descripcion </th>
                  <th> Precio </th>
                  <th> </th>
               </tr>
            </thead>
            <tbody>
               <tr dir-paginate="item in vm.productos | filter:vm.q | itemsPerPage: vm.pageSize">
                   <td> {{item.codigo}} </td>
                   <td> {{item.descripcion}} </td>
                   <td> {{item.precio}}</td>
                   <td> <a ng-click="vm.uploadFile()"><img src="../public/images/iconos/camera.png" alt=""></a> </td>
                 </tr>
              </tbody>
           </table>
      <div class="other-controller">
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html">
        </dir-pagination-controls>
          </div>
        </div>
</div>
</div>
<div class="col-md-1">
</div>
</div>

</div>
</div>
</div>
</section>