	<section id="content">
	<div class="zerogrid">
	<div class="row content-bg">
	          <h2>Consultas Clientes</h2>
	          <div class="col-1-3">
				</div>	
		         <div align="center" class="col-1-3 banner-box">
		         	<img src="../public/images/user-01.png" alt="" />
		          <form method="post" class="ng-pristine ng-valid">
		          	<div>
	    	<label>Username</label>
	    	<input name="user" ng-model="vm.name" type="text" >
		    </div> 
		    <div>
		    	<label>Password</label>
		    	<input name="password" ng-model="vm.password" type="password">
		    </div> 
		    <div>
		    </div>
				<br>
		         <div>	                                  
		          <input type="button" ng-click="vm.autenticarUsuario()" value="Ingresar" class="buttonLista"> 
		          </div> 
		          </form>
		      </div>        
		</div>
	</div>
	</section>