	<section id="content">
	<div class="zerogrid">
	<div class="row content-bg">
		<div class="wrap-col">
	          <h2>Lista de precios</h2>
	          	          	<div class="col-1-2">
	          <form method="post" class="formContacto">
	          	<div id="contact-form1">
	          		<label class="name">
	              <span>Usuario:</span><br>
				<input type="text" id="user"><br>
			</label>
			<label class="name">
	        <span>Contraseña:</span><br>
	          <input type="password" id="password">
	      </label>
			<br><br>
			</div>
			<br>
	         <div>	                                  
	          <input type="submit" value="Buscar" class="buttonLista" id="botonEnvio"> 
	          </div> 
	      </div>
	      <div class="col-1-2">
	      	<br>
			<div id="listaReferencia"></div>
		</div>
	        </form>
			</div>
		</div>
	</div>
	</section>