
    <!-- Content -->
    <section id="content">
        <div class="zerogrid">
            	<div class="row content-bg">
                    	<article class="col-1-3">
							<div class="wrap-col">
	                        	<h2>Contactos:</h2>
	                            <p class="p1">
	                            	<strong class="str-2">
	                                	VALSUSO SRL
	                                </strong>
	                                <dl class="adress">	
	                                <strong class="str-2">
	                                	Teléfonos
	                                </strong>							
	                                	<dd><span>Ventas:</span><b>03564 - 479078 / 479520</b></dd>
										<dd><span>Servicio Hidráulico:</span><b>03564 - 15578048</b></dd>                                   
	                                    <strong class="str-2">
	                                	Correo electrónico
	                                </strong>
	                                <dd><span>Ventas:</span>
	                                    valsusorepuestos@gmail.com</dd>
	                                <dd><span>Hidráulica:</span>
	                                    valsusohidraulicos@gmail.com
	                                </dd>
	                                <dd><span>Administración:</span>
	                                    valsusosrl@gmail.com
	                                </dd>
	                                </dl>
	                            </p>
							</div>
                        </article>
                        <article class="col-2-3">
							<div class="wrap-col">
	                        	<h2>Consulta:</h2>
	                            <form method="post">
	                              <fieldset>
	                              	<div id="contact-form">
	                                <label class="name">
	                                	<span>Nombre:</span>
										<input type="text" ng-model="vm.nombre" name="nombre">
	                                </label>
	                                <label class="email">
	                                  <span>Email:</span>
	                                  <input type="text" ng-model="vm.mail" name="mail" required>
	                                </label>
	                                <label class="message">
	                                  <span>Mensaje:</span>	
	                                  <textarea ng-model="vm.mensaje" name="mensaje" required></textarea>
	                                </label>
	                                </div>
	                                <br>
	                                <div class="btns">                             
	                                    <input type="button" class="buttonLista" id="submit" ng-click="vm.enviarCorreo()" value="Enviar Consulta"/> 
	                                </div>
	                              </fieldset>
	                            </form>
							</div>
                        </article>
            </div>
        </div>
    </section>