
    <!-- Content -->
    <section id="content">
        <div class="zerogrid">
            	<div class="row content-bg">

                    	<article class="col-1-3">
							<div class="wrap-col">
	                        	<h2>Contactos:</h2>
	                            <p class="p1">
	                            	<strong class="str-2">
	                                	V.S REPUESTOS SRL
	                                </strong>
	                                <dl class="adress">
									<strong class="str-2">
	                                	Ventas
	                                </strong>
	                                	<dd><span>Teléfono-Fax:</span><b>03564-438285</b></dd>
										<dd><span>Celular:</span><b>03564-15690998</b></dd>	                                   
	                                    <dd><span>Email:</span><a href="#">ventasvsrepuestos@vsrepuestos.com.ar</a></dd>
	                                </dl>
	                                <dl class="adress">
									<strong class="str-2">
	                                	Administración
	                                </strong>
	                                	<dd><span>Teléfono-Fax:</span><b>03564-432091</b></dd>	                                    
	                                    <dd><span>Email:</span><a href="#">vsrepuestos@vsrepuestos.com.ar</a></dd>
	                                </dl>
	                            </p>
							</div>
                        </article>
                        <article class="col-2-3">
							<div class="wrap-col">
	                        	<h2>Consulta:</h2>
	                            <form method="post" action="contacto.php">
	                              <fieldset>
	                              	<div id="contact-form">
	                                <label class="name">
	                                	<span>Nombre:</span>
										<input type="text" name="nombre">
	                                </label>
	                                <label class="email">
	                                  <span>Email:</span>
	                                  <input type="email" name="mail" required>
	                                </label>
	                                <label class="message">
	                                  <span>Mensaje:</span>	
	                                  <textarea name="mensaje" required></textarea>
	                                </label>
	                                </div>
	                                <br>
	                                <div class="btns">	                                  
	                                    <input type="submit" class="buttonLista" id="submit" value="Enviar"/> 
	                                </div>
	                              </fieldset>
	                            </form>
							</div>
                        </article>
            </div>
        </div>
    </section>