<!-- Content -->
    <header class="main-bg">
    <div class="slider-full header">
	        <div class="slider-container">
	            <div class="mp-slider">
	                <ul class="items">
	                    <li><img src="../public/images/slide-1.jpg" alt="" /><div class="banner mp-ban-1"><span class="row-1">Bienvenidos a</span><span class="row-2" style="color:#1E3385">VALSUSO SRL</span><span class="row-3">Repuestos e Hidraulica</span></div></li>
	                    <li><img src="../public/images/productos/bomba.jpg" alt="" /><div class="banner mp-ban-2"><span class="row-2">Conozca nuestros ultimos productos</span><span class="row-3">fabricados</span></div></li>
	                    <li><img src="../public/images/fondoVer.jpg" alt="" /><div class="banner mp-ban-3"><span class="row-1">Contactenos</span><span class="row-2">y lo asesoraremos</span><span class="row-3"></span></div></li>
	                </ul>
	            </div>
	        </div>
	        <a class="mp-prev"></a>
	        <a class="mp-next"></a>
		</div>
		</header>				
    <section id="content">
        <div class="zerogrid">
            <div class="row content-bg">         
<article class="banner-box">
                                    <h3>HISTORIA</h3>
                                    <h4>¿Quienes somos?</h4>
                                    <blockquote class="quote indent-right">
                                        <strong>VALSUSO SRL</strong>
										es una empresa dedicada a la fabricación de repuestos para tractores que surge en el año 2012.<br>Cuenta con una experiencia de 36 años en el rubro repuestos.<br>
Comercializamos (Vendemos) Partes Hidráulicas y repuestos para tractores en general. O sea nos dividimos en dos grandes rubros (Repuestos e Hidráulica) 
                                    </blockquote>
                            </article>			
                    	<div class="col-4-4">
							<div class="wrap-col">
                        	<article class="indent-bot">
                            	<h2>Nuestros productos:</h2>
                                <div class="row hr-border-99">
                                	<div class="col-1-6">
										<div class="wrap-col">
	                                    	<img src="../public/images/deutz.png" class="img-indent-bot" alt="">
	                                        <dl class="def-list-1">
	                                        	<dt>
	                                            	DEUTZ
	                                            </dt>	                           
	                                        </dl>
										</div>
                                    </div>
                                    <div class="col-1-6">
										<div class="wrap-col">
	                                    	<img src="../public/images/JD.png" class="img-indent-bot" alt="">
	                                        <dl class="def-list-1">
	                                        	<dt>
	                                            	JOHN DEERE
	                                            </dt>	                                            
	                                        </dl>
										</div>
                                    </div>
                                    <div class="col-1-6">
										<div class="wrap-col">
	                                    	<img src="../public/images/Fiat.png" class="img-indent-bot" alt="">
	                                        <dl class="def-list-1">
	                                        	<dt>
	                                            	FIAT
	                                            </dt>	                                            
	                                        </dl>
										</div>
                                    </div>
                                    <div class="col-1-6">
										<div class="wrap-col">
	                                    	<img src="../public/images/productos/cilindro.jpg" class="img-indent-bot" alt="">
	                                        <dl class="def-list-1">
	                                        	<dt>
	                                            	MASSEY FERGUSON
	                                            </dt>	                                            
	                                        </dl>
										</div>
                                    </div> 
									<div class="col-1-6">
										<div class="wrap-col">
	                                    	<img src="../public/images/Valtra.png" class="img-indent-bot" alt="">
	                                        <dl class="def-list-1">
	                                        	<dt>
	                                            	VALTRA
	                                            </dt>	                                            
	                                        </dl>
										</div>
                                    </div>
									<div class="col-1-6">
										<div class="wrap-col">
	                                    	<img src="../public/images/Hanomag.png" class="img-indent-bot" alt="">
	                                        <dl class="def-list-1">
	                                        	<dt>
	                                            	HANOMAG
	                                            </dt>	                                            
	                                        </dl>
										</div>
                                    </div>
                                </div>                                
                            </article>                            
							</div>
                        </div>                                            
					</div>            
				</div>
    </section>