<!-- Content -->
    <header class="main-bg">
    <div class="slider-full header">
	        <div class="slider-container">
	            <div class="mp-slider">
	                <ul class="items">
	                    <li><img src="../public/images/slide-1.jpg" alt="" /><div class="banner mp-ban-1"><span class="row-1">Bienvenidos a</span><span class="row-2" style="color:#1E3385">VALSUSO SRL</span><span class="row-3">Repuestos e Hidraulica</span></div></li>
	                    <li><img src="../public/images/productos/bomba.jpg" alt="" /><div class="banner mp-ban-2"><span style="color:#292929;" class="row-2">Conozca nuestros</span><span class="row-3">ultimos productos fabricados</span></div></li>
	                    <li><img src="../public/images/productos/slide-2.jpg" alt="" /><div class="banner mp-ban-2"><span style="color:#292929;" class="row-1">Contactenos</span><span class="row-2">y lo asesoraremos</span><span class="row-3"></span></div></li>
	                </ul>
	            </div>
	        </div>
	        <a class="mp-prev"></a>
	        <a class="mp-next"></a>
		</div>
		</header>				
    <section id="content">
        <div class="zerogrid">
            <div class="row content-bg">  
            <br>       
<article class="banner-box">
                                    <h3>HISTORIA</h3>
                                    <h4>¿Quienes somos?</h4>
                                    <blockquote class="quote indent-right">
                                        <strong>VALSUSO SRL</strong>
										es una empresa dedicada a la comercialización de productos oleohidráulicos y repuestos de tractores y máquinas agrícolas en general.<br>
 
Entre los productos Hidráulicos que comercializamos se destacan: Bombas (Línea Agrícolas, Industrial y Vial), Válvulas de Dirección y de Comando, Cilindros Standard y Especiales, Mangueras, Sellos, Tomas de Fuerzas (aplicables a cajas de velocidad), Vástagos, Filtros, Centrales Oleohidráulicas, Soportes para Direcciones Hidráulicas y para bombas hidráulicas (somos fabricantes), terminales, adaptadores, acoples, accesorios, etc.
Entre los servicios que brindamos se destacan reparaciones, asesoramiento técnico y desarrollo de sistemas hidráulicos. También hacemos servicios de reparaciones hidráulicas a campo, de esta manera brindamos servicio y comodidad para el productor.<br>
Contamos con un grupo humano altamente capacitado y banco de prueba para realizar diagnóstico y reparaciones.
En cuanto a los repuestos y partes para tractores nos dedicamos a la comercialización, con amplia experiencia en el rubro. Brindando el mejor servicio en ventas, con un stock permanente de las marcas líderes en el mercado.
                                    </blockquote>
                            </article>	
                            <br>		
                        	<article class="indent-bot">
                            	<h4 align="center">Disponibilidad en productos de todas las marcas</h4>
                                <div class="row">
                                	<img src="../public/images/marcas/marcas.png" alt="">             
                                </div>                                
                            </article>                                                                       
					</div>            
				</div>
    </section>