<!-- Content -->
<section id="content">
    <div class="zerogrid">
        <div class="wrapper">
        	<div class="row content-bg">
            	<div class="wrapper">				
                	<article>
                        <h2>Nuestros productos:</h2>
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                          <div class="btn-group" role="group">
                            <button ng-click="vm.cargarVista(1)" id="rep" type="button" class="btn btn-default activo">
                              <img src="../public/images/productos/banners3.png" class="img-indent-bot" alt=""><b>REPUESTOS</b></button>
                          </div>
                          <div class="btn-group" role="group">
                            <button id="hid" ng-click="vm.cargarVista(2)" type="button" class="btn btn-default">
                              <img src="../public/images/productos/banners2.png" class="img-indent-bot" alt=""><b>HIDRAULICA</b></button>
                          </div>
                        </div>                    	
                        <ng-include src="vm.urlAdmin"></ng-include> 
                    </article>
                </div>
            </div>
        </div>
    </div>		
</section>
