<!-- Content -->
<section id="content">
    <div class="zerogrid">
        <div class="wrapper">
        	<div class="row content-bg">
            	<div class="wrapper">				
                	<article>
                        <div class="row">
                            <div class="col-1-2">
                                <button style="float:right;" class="btn btn-primary">REOUESTOS</button>
                            </div>
                            <div class="col-1-2">
                                <button class="btn btn-primary">HIDRÁULICA</button>
                            </div>
                        
                        </div>
                    	<h2>Nuestros productos:</h2>
                        <div class="row hr-border-1">
                            	<div class="col-1-6">
									<div class="wrap-col">
                                    	<img src="../public/images/productos/cilindros.jpg" class="img-indent-bot" alt="">
                                        <dl class="def-list-1">
                                            <dt>
                                                CILINDRO
                                            </dt>                              
                                        </dl>
									</div>
                                </div>
                                <div class="col-1-6">
									<div class="wrap-col">
                                    	<img src="../public/images/productos/columnavh.jpg" class="img-indent-bot" alt="">
                                        <dl class="def-list-1">
                                            <dt>
                                                COLUMNA VH
                                            </dt>                              
                                        </dl>
									</div>
                                </div>
								<div class="col-1-6">
									<div class="wrap-col">
                                    	<img src="../public/images/productos/deposito.jpg" class="img-indent-bot" alt="">
                                        <dl class="def-list-1">
                                            <dt>
                                                DEPOSITO
                                            </dt>                              
                                        </dl>
									</div>
                                </div> 				
                                <div class="col-1-6">
									<div class="wrap-col">
                                    	<img src="../public/images/productos/DireccionesHidraulicas.jpg" class="img-indent-bot" alt="">
                                        <dl class="def-list-1">
                                            <dt>
                                                Direcciones Hidraulicas
                                            </dt>                              
                                        </dl>
									</div>
                                </div>                        					
								<div class="col-1-6">
									<div class="wrap-col">
                                    	<img src="../public/images/productos/Portafiltros.jpg" class="img-indent-bot" alt="">
                                        <dl class="def-list-1">
                                            <dt>
                                                Portafiltros
                                            </dt>                              
                                        </dl>
									</div>
                                </div>
								<div class="col-1-6">
									<div class="wrap-col">
                                    	<img src="../public/images/productos/bombasHidraulicas.jpg" class="img-indent-bot" alt="">
                                        <dl class="def-list-1">
                                            <dt>
                                                Bombas Hidraulicas
                                            </dt>                              
                                        </dl>   
									</div>
                                </div>
                            </div>	
                            <div class="row hr-border-1">
                                <div class="col-1-6">
                                    <div class="wrap-col">
                                        <img src="../public/images/productos/SoportesParaReformasDeDireccion.jpg" class="img-indent-bot" alt="">
                                        <dl class="def-list-1">
                                            <dt>
                                                Soportes ParaReformas De Direccion
                                            </dt>                              
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-1-6">
                                    <div class="wrap-col">
                                        <img src="../public/images/productos/TerminalesHidraulicos.jpg" class="img-indent-bot" alt="">
                                        <dl class="def-list-1">
                                            <dt>
                                                Terminales Hidraulicos
                                            </dt>                              
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-1-6">
                                    <div class="wrap-col">
                                        <img src="../public/images/productos/ValvulasEspeciales.jpg" class="img-indent-bot" alt="">
                                        <dl class="def-list-1">
                                            <dt>
                                                Valvulas Especiales
                                            </dt>                              
                                        </dl>
                                    </div>
                                </div>              
                                <div class="col-1-6">
                                    <div class="wrap-col">
                                        <img src="../public/images/productos/DireccionesHidraulicas.jpg" class="img-indent-bot" alt="">
                                        <dl class="def-list-1">
                                            <dt>
                                                Direcciones Hidraulicas
                                            </dt>                              
                                        </dl>
                                    </div>
                                </div>                                          
                                <div class="col-1-6">
                                    <div class="wrap-col">
                                        <img src="../public/images/productos/AcoplesHidraulicos.jpg" class="img-indent-bot" alt="">
                                        <dl class="def-list-1">
                                            <dt>
                                                Acoples Hidraulicos
                                            </dt>                              
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-1-6">
                                    <div class="wrap-col">
                                        <img src="../public/images/productos/ValvulasDeComando.jpg" class="img-indent-bot" alt="">
                                        <dl class="def-list-1">
                                            <dt>
                                                Valvulas De Comando
                                            </dt>                              
                                        </dl>   
                                    </div>
                                </div>
                            </div>		                            
                    </article>
                </div>
            </div>
        </div>
    </div>		
</section>
