<br>
<blockquote class="quote indent-right">Comercializamos repuestos y partes para tractores con amplia experiencia en el rubro. Contamos con stock permanente de las marcas líderes en el mercado</blockquote>
<br>
<div class="row hr-border-1">
	<div class="col-xs-6 col-md-2">
		<img style="height:130px;" src="public/images/productos/repuestos/AccesoriosdeGoma.jpg" alt="">
		<dl class="def-list-1">
                <dt>
                    Accesorios de Goma
                </dt>                              
            </dl>
	</div>
	<div class="col-xs-6 col-md-2">
		<img style="height:130px;" src="public/images/productos/repuestos/BombasdeAgua.jpg" alt="">
		<dl class="def-list-1">
                <dt>
                    Bombas de Agua
                </dt>                              
            </dl>
	</div>
	<div class="col-xs-6 col-md-2">
		<img style="height:130px;" src="public/images/productos/repuestos/BombasdeCombustible.jpg" alt="">
		<dl class="def-list-1">
                <dt>
                    Bombas de Combustible
                </dt>                              
            </dl> 
	</div>
	<div class="col-xs-6 col-md-2">
		<img style="height:130px;" src="public/images/productos/repuestos/BombasDeTransmision.jpg" alt=""> 
		<dl class="def-list-1">
                <dt>
                    Bombas De Transmision
                </dt>                              
            </dl>  
	</div>
	<div class="col-xs-6 col-md-2">
		<img style="height:130px;" src="public/images/productos/repuestos/BrazosTrenDelantero.jpg" alt=""> 
		<dl class="def-list-1">
                <dt>
                    Brazos Tren Delantero
                </dt>                              
            </dl>  
	</div> 
	<div class="col-xs-6 col-md-2">
     	<img style="height:130px;" src="public/images/productos/repuestos/BulonesDeRueda.jpg" alt="">
     	<dl class="def-list-1">
                <dt>
                    Bulones De Rueda
                </dt>                              
            </dl>
	</div>   
</div>
<div class="row hr-border-1">
	<div class="col-xs-6 col-md-2">
		<img style="height:130px;" src="public/images/productos/repuestos/CaniosDeAgua.jpg" alt="">
		<dl class="def-list-1">
                <dt>
                    Caños De Agua
                </dt>                              
            </dl>
	</div>
	<div class="col-xs-6 col-md-2">
		<img style="height:130px;" src="public/images/productos/repuestos/Ejesdetdf.jpg" alt="">
		<dl class="def-list-1">
                <dt>
                    Ejes de tdf
                </dt>                              
            </dl>
	</div>
	<div class="col-xs-6 col-md-2">
		<img style="height:130px;" src="public/images/productos/repuestos/RetenesdeRueda.jpg" alt=""> 
		<dl class="def-list-1">
                <dt>
                    Retenes de Rueda
                </dt>                              
            </dl>
	</div>
	<div class="col-xs-6 col-md-2">
		<img style="height:130px;" src="public/images/productos/repuestos/silenciadores.jpg" alt="">
		<dl class="def-list-1">
                <dt>
                    Silenciadores
                </dt>                              
            </dl>   
	</div>
	<div class="col-xs-6 col-md-2">
		<img style="height:130px;" src="public/images/productos/repuestos/Tapas.jpg" alt="">  
		<dl class="def-list-1">
                <dt>
                    Tapas
                </dt>                              
            </dl> 
	</div> 
	<div class="col-xs-6 col-md-2">
     	<img style="height:130px;" src="public/images/productos/repuestos/TRAMPAsdeAgua.jpg" alt="">
     	<dl class="def-list-1">
                <dt>
                    Trampas de Agua
                </dt>                              
            </dl>
	</div>    
</div>
<br>	
<article class="indent-bot">
    <div class="row">
    	<img src="public/images/marcas/marcas.png" alt="">             
    </div>                                
</article> 