<br>
<blockquote class="quote indent-right">Comercializamos repuestos y partes para tractores con amplia experiencia en el rubro. Contamos con stock permanente de las marcas líderes en el mercado</blockquote>
<br>
<div class="row">
	<div class="col-md-1">
     
	</div>
	<div class="col-md-2">
		<img src="public/images/iconos/newholland.gif" alt="">       
	</div> 
	<div class="col-md-2">
		<img src="public/images/iconos/pauny.jpg" alt="">       
	</div>
	<div class="col-md-2">
		<img src="public/images/iconos/agco.jpg" alt="">       
	</div>
	<div class="col-md-2">
		<img src="public/images/iconos/deutz.png" alt="">       
	</div>
	<div class="col-md-2">
		<img src="public/images/iconos/mf.png" alt="">       
	</div>
	<div class="col-md-1">
     
	</div>   
</div>
<br>
<div class="row">
	<div class="col-md-1">
     
	</div> 
	<div class="col-md-2">
		<img src="public/images/iconos/hanomag.jpg" alt="">       
	</div>
	<div class="col-md-2">
		<img src="public/images/iconos/jd.jpg" alt="">       
	</div>
	<div class="col-md-2">
		<img src="public/images/iconos/valtra.png" alt="">       
	</div>
	<div class="col-md-2">
		<img src="public/images/iconos/zanello.jpg" alt="">       
	</div>
	<div class="col-md-2">
		<img src="public/images/iconos/fiat.jpg" alt="">       
	</div> 
	<div class="col-md-1">
     
	</div>    
</div>
<br>