<section id="content">
    <div class="zerogrid">
        <div class="wrapper">
        	<div class="row content-bg">
            	<div class="wrapper">	
                <h2>Servicios</h2>			
                	<article class="col-1-3">
                        <div class="wrap-col">
                            <img src="../public/images/reparando.jpg" alt="">
                        </div>                    	 
                    </article>
                    <article class="col-2-3">
                        <div class="wrap-col">
                        <p>
                            Ofrecemos servicio de reparación general de maquinas agrícolas. Tenemos experiencia en la reparación integral de tractores. Desarme total del equipo y reacondicionamento parte por parte, hasta lograr la recuperación integral del equipo. Si requiere reparar tractores, consulte con nosotros. Nos dirigimos a su campo y le damos solución.
                        </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>		
</section>