<section id="content">
    <div class="zerogrid">
        <div class="wrapper">
        	<div class="row content-bg">
            	<div class="wrapper">	
                <h2>Servicios</h2>			
                	<article class="col-1-3">
                            <img src="public/images/reparando.jpg" alt="">	 
                    </article>
                    <article style="padding-bottom:20px;" class="col-2-3 banner-box">
                        <blockquote class="quote indent-right">
                            Ofrecemos servicio de reparaciones hidráulicas a campo, de esta manera brindamos servicio y comodidad para el productor. Tenemos experiencia en la reparación integral de tractores. Contamos con un grupo humano altamente capacitado y banco de prueba para realizar diagnóstico y reparaciones. Si requiere reparar tractores, consulte con nosotros. Nos dirigimos a su campo y le damos solución.
                        </blockquote>                        
                    </article>
                </div>
            </div>
        </div>
    </div>		
</section>